.drawing-area-base
{ 
  width:300px; 
  height:200px; 
  line-height:200px;
  border: 2px solid black;
  text-align:center;
  font-size:20px;
  font-style:normal;
  color:black;
  background-color:white;
}

.drawing-area-red
{ 
  width:300px; 
  height:200px; 
  line-height:200px;
  border: 2px solid black;
  text-align:center;
  font-size:20px;
  font-style:normal;
  color:black;
  background-color:red;
}

.drawing-area-green
{ 
  width:300px; 
  height:200px; 
  line-height:200px;
  border: 2px solid black;
  text-align:center;
  font-size:20px;
  font-style:normal;
  color:black;
  background-color:green;
}